form {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

input,
select {
	padding: 1em;
}

span,
h2,
h3,
h4,
a,
img,
ul,
li {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

a {
	color: #3367d6;
	text-decoration: none;
}

.error {
	color: red;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
	color: white;
	padding: 0 1em;
	background-color: #3367d6;
}

.grow {
	flex-grow: 1;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.white {
	color: white;
}

form.rename {
	flex-direction: row;
	padding: 0.5em;
}

.even {
	background-color: #f8f8ff;
}

a.link {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 1em;
}
div.content {
	display: flex;
	flex-direction: column;
	padding: 1em;
	gap: 1em;
}
